*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
display: flex;
margin: 13px;
padding: 12px;
justify-content: center;
align-items: center;
background-color: aquamarine;
border:2px solid gray

   
}
.row{
    margin: 32px;
    padding: 43px;
    
}
 .row img{
  height: 100vh;
  border-radius: 12px;
    
}
.content{
    background-color: aquamarine;
}
.content h2{
   justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 62px;
   
}
.content img{
  padding-left: 70%;
  height: 100vh;
   
   
}
.content p{
   justify-content: center;
    align-items: center;
    text-align: center;
 
   
}
.main img{
padding-left: 100px;
height:100vh;
}
.main{
    background-color: aquamarine;
}